* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-card {
  margin-left: 94px;
  margin-right: 76px;
  border: 2px solid #f1f1f1;
  padding: 50px 50px 40px 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 50px;
}

.project-card:hover {
  box-shadow: 8px solid #8c8c8c;
}

.project_button {
  border: 2px solid #f1f1f1;
  border-radius: 3px;
  width: 70px;
  padding: 5px;
  margin: 3px;
  text-decoration: none;
  box-shadow: #8c8c8c;
  color: rgb(107, 107, 107);
}

.project_button:hover{
  border: 2px solid #f1f1f1;
  box-shadow: 30px solid #444444;
}

.filter_btn {
  border: none;
  background: none;
  color: rgb(107, 107, 107);
  font-size: 1.2em;
  margin-right: 8px;
}

.filter_btn:hover {
  color: #6d56c1;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.filter_button_container {
  margin-left: 94px;
}

.project-heading {
  margin-left: 94px;
  margin-top: 200px;
}