* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin-left: 94px;
  margin-right: 76px;
  border: 2px solid #f1f1f1;
  padding: 50px 50px 40px 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 50px;
}

.card:hover {
  box-shadow: 8px #8c8c8c;
}

.project-image {
  max-width: 600px;
  max-height: 600px;
  object-fit: cover;
  border-style: none;
  vertical-align: middle;
  align-items: flex-start;
}

.project-card-details {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.project-heading {
  margin-top: 200px;
  margin-left: 94px;
}

.project-buttons {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
}

.button-link{
  background: rgba( 153, 0, 213, 0.35 );
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.18);
  padding: 5px;
  margin-right: 5px;
}

.button-link:hover {
  font-weight: bold;
  background-color: #ff6347;
  cursor: pointer;
}