* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin-left: 94px;
  margin-right: 76px;
  border: 2px solid #f1f1f1;
  padding: 50px 50px 40px 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 50px;
}

.card:hover {
  box-shadow: 8px #8c8c8c;
}

.project-image {
  max-width: 600px;
  max-height: 600px;
  object-fit: cover;
  border-style: none;
  vertical-align: middle;
  align-items: flex-start;
}

.project-card:hover {
  cursor: pointer;
}

.project-card-details {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.project-heading {
  margin-top: 200px;
  margin-left: 94px;
}

.project-button {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}