* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  background-color: #6d56c1;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
}

.slider-container {
  display: flex;
  flex-direction: column;
  color: rgb(204, 204, 204);
}

.testimonial-heading {
  padding-top: 200px;
  padding-bottom: 100px;
  margin-left: 95px;
}

.witness-name {
  font-weight: bold;
}

.witness-title {
  font-weight: bold;
}

.testimonial-text {
  padding-top: 20px;
}
