* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  background: rgb(2, 0, 36);
  background: linear-gradient(
      45deg,
      rgba(110, 87, 193, 0.9) 0%,
      rgba(195, 148, 148, 0.9) 100%
    ),
    url(images/img_bg_main.jpg) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
}

.slider-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.testimonial-heading {
  padding-top: 200px;
  padding-bottom: 100px;
  margin-left: 95px;
}

.witness-name {
  font-weight: bold;
}

.witness-title {
  font-weight: bold;
}

.testimonial-text {
  padding-top: 20px;
}
