* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contact {
  float: right;
  margin-right: 90px;
}

.get-in-touch-details {
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 70px;
  margin-left: 95px;
  color: rgb(107, 107, 107);
  background-image: url(images/trail-hGVk7r40q4k-unsplash.jpg);
}

#contact-heading {
  margin-bottom: 40px;
  color: rgb(107, 107, 107);
}

.contact-label {
  display: flex;
  justify-content: center;
  color: rgb(107, 107, 107);
}

.contact-input {
  display: flex;
  justify-content: center;
  border: 2px solid #1c6ea4;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 40px;
}

.form-heading {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 40px;
  color: rgb(107, 107, 107);
}

footer {
  font-style: italic;
}

.send-button {
  background: rgba(26, 61, 236, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 20px;
  margin-left: 13px;
  padding: 10px;
  transition: 0.5s ease-in-out;
  width: 100%;
}

.send-button:hover {
  color: rgb(0, 0, 0);
  background-color: rosybrown;
}
