* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-card {
  display: flex;
  flex-direction: column;
}

.project-image {
  max-width: 40%;
  float: left;
  display: flex;
  flex-direction: column;
}

.project-heading {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 50px;
  color: rgb(107, 107, 107);
}

.project-text {
  color: rgb(107, 107, 107);
}

.card1 {
  border: 6px double rgba(28, 110, 164, 0.44);
  margin-bottom: 60px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 40px;
}

.card2 {
  border: 6px double rgba(28, 110, 164, 0.44);
  margin-bottom: 60px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 40px;
}

.card3 {
  border: 6px double rgba(28, 110, 164, 0.44);
  margin-bottom: 60px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 40px;
}

.card4 {
  border: 6px double rgba(28, 110, 164, 0.44);
  margin-bottom: 60px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 40px;
}

.project-button {
  font-weight: bold;
  color: black;
  padding: 12px;
  margin-left: 150px;
  margin-top: 150px;
  background: rgba(0, 122, 185, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.5s ease-in-out;
}

.project-button:hover {
  color: white;
  background-color: tomato;
}
