* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.skills-container {
  margin-left: 150px;
  margin-top: 200px;
  list-style-type: none;
  color: rgb(107, 107, 107);
}

.skills-heading {
  margin-bottom: 35px;
}
