* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.slider {
  padding: 5% 5%;
  display: flex;
  flex-direction: row;
  width: 87vw;
  background: rgba(0, 162, 196, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.slider-container .slider img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: left;
}

.testimonial-heading {
  margin-bottom: 50px;
}

.witness-name {
  font-weight: bold;
  margin-left: 500px;
  margin-bottom: 30px;
}

.testimonial-text {
  float: right;
  margin-top: 30px;
}

.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 50%;
  margin-top: -22%;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(99, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(106, 106, 106);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #000000;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
