* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bio {
  display: grid;
  grid-template-columns: 140px 10px 1fr 10px 140px;
  color: rgb(107, 107, 107);
  padding-top: 200px;
}
.bio-text-container {
  grid-column: 3;
}
.line3 {
  height: 100%;
  width: 5px;
  padding: 2px;
  background: rgb(107, 107, 107);
  float: left;
  margin: 5%;
}
.line4 {
  height: 100%;
  width: 5px;
  padding: 2px;
  background: rgb(107, 107, 107);
  float: right;
}
.line3 {
  display: flex;
  justify-content: flex-start;
  margin-left: 86px;
}
.line4 {
  display: flex;
  justify-content: flex-end;
  margin-left: 65px;
}

.year {
  padding-bottom: 15px;
}
